@page
@model MyApp.Namespace.CreartecnicoModel
@{
}
<div class="justify-content-center text-center">
    <h2>Crear Tecnico</h2>
    <br>
    <hr>
 </div>
<form method="post">
  <table class="table-hover" width="600" height="300"  align="center" >
    <tr>
      <td width="260" style="font-size:0.4cm;">Sueldo</td>
      <td width="340">
       <input asp-for="Tecnicos.Sueldo" class="form-control" size="35" style="font-size:0.4cm;"/>
      </td>
    </tr>
   </table>
    <br>
    <div class="justify-content-center text-center">
      <input type="submit"  class="btn btn-success" name="Submit" value="Enviar Datos" />
    </div>
    <hr>
 </form>

