@page
@model MyApp.Namespace.EliminartecnicoModel
@{
}
<div class="justify-content-center text-center">
    <h2>Eliminara al Tecnico</h2>
    <hr><br>
    <div class="container">
  <div class="row">
    <div class="col">Tipo de Vehiculo :</div>
    <div class="w-80"></div>
    <div class="col">@Html.DisplayFor(m => m.Tecnicos.Sueldo)</div>
    <div class="col"></div>
  </div>
</div><br>
    <hr>
    <form method="post" >
    <input type="hidden"  asp-for="Tecnicos.Id"/>    
    <input type="submit" value="Confirmar" class="btn btn-danger" asp-page="/Eliminar/OnPost"/>    
    </form>
</div>
<div class="justify-content-center text-left"><a asp-page="./listar">Ir a Gestion Tecnicos</a></div>