@page
@model MyApp.Namespace.CrearclienteModel
@{
}
<div class="justify-content-center text-center">
    <h2>Crear Cliente</h2>
    <br>
    <hr>
 </div>
<form method="post">
  <table class="table-hover" width="600" height="300"  align="center" asp-validation-summary="ModelOnly" class="text-danger" >
    <tr>
      <td width="260" style="font-size:0.4cm;">Ciudad</td>
      <td width="340">
       <input asp-for="Clientes.Ciudad" class="form-control" size="35" style="font-size:0.4cm;"/>
       <span asp-validation-for="Clientes.Ciudad" class="text-danger" style="font-size:0.4cm;"></span>
      </td>
    </tr>
    <tr>
      <td width="260" style="font-size:0.4cm;">Fecha de Ingreso</td>
      <td width="340">
        <input asp-for="Clientes.FechaIngreso" class="form-control" size="35" style="font-size:0.4cm;" />
        <span asp-validation-for="Clientes.FechaIngreso" class="text-danger" style="font-size:0.4cm;"></span>
      </td>
     </table>
    <br>
    <div class="justify-content-center text-center">
      <input type="submit"  class="btn btn-success" name="Submit" value="Enviar Datos" />
    </div>
    <hr>
 </form>

