@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <h2 class="display-4">Taller De Mantenimiento Automotriz</h2>
    <p>Sitio en Construcion</p>
</div>
